/*Agree*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/heavy-check-mark_2714.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/thumbs_up.gif") no-repeat;	
}
/*Disagree*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/cross-mark_274c.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/thumbs_down.gif") no-repeat;	
}
/*Funny*/ 
img[src="https://files.facepunch.com/garry/e06a8775-edd5-4b1e-b501-0601fa9ea3c0.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/tongue_smile.gif") no-repeat;	
}
/*Late*/ 
img[src="https://files.facepunch.com/garry/72ae3025-be22-407b-81ac-fc34baca3211.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/clock.gif") no-repeat;	
}
/*Love*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/heavy-black-heart_2764.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/heart.gif") no-repeat;	
}
/*Sympathy*/ 
img[src="https://files.facepunch.com/s/4f5cfb6d1bf8.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/cry_smile.gif") no-repeat;	
}
/*Artistic*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/artist-palette_1f3a8.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/angry_smile.gif") no-repeat;	
}
/*Cookie*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/cookie_1f36a.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("https://i.imgur.com/WO2w68k.gif") no-repeat;	
}
/*Childimg*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/man_emoji-modifier-fitzpatrick-type-1-2_1f468-1f3fb_1f3fb.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/49_49.gif") no-repeat;	
}
/*Baby*/ 
img[src="https://files.facepunch.com/garry/2017/10/23/baby-bottle_1f37c.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("https://i.imgur.com/0fyeNyI.gif") no-repeat;	
}
/*Coin*/ 
img[src="https://files.facepunch.com/garry/43ddf103-2b9b-4ea6-abdf-4a1ae4eb58fc.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/69_69.gif") no-repeat;	
}
/*Goodimg*/ 
img[src="https://files.facepunch.com/garry/84b8da5e-ce55-420a-baab-300a14585f2b.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/lightbulb.gif") no-repeat;	
}
/*Snowflake*/ 
img[src="https://files.facepunch.com/garry/28809c26-dfe6-4095-92ef-aafe74a605b7.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/star.gif") no-repeat;	
}
/*Diamond*/ 
img[src="https://files.facepunch.com/garry/3b3f0fe9-6bcd-4f44-8d44-d76fe23548db.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/present.gif") no-repeat;	
}
/*Asshole*/ 
img[src="https://files.facepunch.com/garry/00248852-d2b8-4076-b33e-d4d8e103f471.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/angry_smile.gif") no-repeat;	
}
/*Badimg*/ 
img[src="https://files.facepunch.com/garry/2017/11/09/pencil_270f.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.famfamfam.com/lab/icons/silk/icons/table_edit.png") no-repeat;	
}
/*Badimg*/ 
img[src="https://files.facepunch.com/garry/2017/11/09/notebook_1f4d3.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.famfamfam.com/lab/icons/silk/icons/book.png") no-repeat;	
}
/*Cute*/ 
img[src="https://files.facepunch.com/garry/2017/11/09/koala_1f428.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/cat.gif") no-repeat;	
}
/*Lucky*/ 
img[src="https://files.facepunch.com/garry/2017/11/09/four-leaf-clover_1f340.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("https://i.imgur.com/YgCbHKg.gif") no-repeat;	
}
/*Bigimg*/ 
img[src="https://files.facepunch.com/garry/2017/11/09/balloon_1f388.png"]
{
    width:0px; height:0px; padding: 10px;
	background: url("http://www.msgweb.nl/emoticons/74_74.gif	") no-repeat;	
}